/* I learned how to use the flex shorthand property by using the property, 'flex', followed by 3 values. The first value is for 'flex-grow', the second is for 'flex-shrink', and the third is for the 'flex-basis' property. */

<style>
  #box-container {
    display: flex;
    height: 500px;
  }
  #box-1 {
    background-color: dodgerblue;
    flex: 2 2 150px;
    height: 200px;
  }

  #box-2 {
    background-color: orangered;
    flex: 1 1 150px;
    height: 200px;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
